@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body{
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  background-image: url("images/background3.jpg");
  background-size: auto 100vh;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 2fr 10fr 10fr 1fr;
  grid-template-rows: 40px auto 60px 1fr 40px;
  grid-template-areas: 
    ". . . ."
    ". start profile ."
    ". . . ."
    ". content content ."
    ". . . .";
}

@media screen and (min-aspect-ratio: 1600/900){
  body{
    background-size: 100vw auto;
  }
}

.start{
  grid-area: start;
  color: white;
  font-size: 45px;
  animation: slideInLeft 1s;
}

.profile{
  grid-area: profile;
  justify-self: end;
  align-self: center; 
  color: white;
  animation: slideInLeft .8s;
}
.profile img{
  height: 40px;
  float: right;
  margin-left: 10px;
}
.profile span{
  display: block;
  float: right;
}
.profile .first_name{
  font-weight: bold;
  font-size: 16px;
  margin-top: 3px;
}
.profile .last_name{
  font-size: 11px;
}

.tile{
  cursor: pointer;
  animation: slideInLeftLarge 1s, fadeInLarge 1s forwards; 
  visibility: hidden; 
}
.tile.long{
  grid-column: span 2;
}
.tile.high{
  grid-row: span 2;
}
.tile img{
  height: 70px;
  margin: 20px 27px 10px;
}
.tile.long img{
   margin: 20px 95px 10px; 
}
.tile .title{
  color: white;
  font-size: 12px;
  margin-left: 10px;
  position: relative;
  top: -7px;
}

.simon-game{
  background: rgb(0, 162, 27);
  animation-delay: .2s;
}
.leader-board{
  background: rgb(218, 84, 46);
  animation-delay: .3s;
}
.calculator{
  background: rgb(10, 79, 183);
  animation-delay: .4s;
}
.weather{
  background: rgb(46, 138, 239);
  animation-delay: .3s;
}
.night-life{
  background: rgb(190, 30, 74);
  animation-delay: .5s;
}
.pomodoro{
  background: rgb(0, 157, 174);
  animation-delay: .4s;
}
.twitch{
  background: rgb(100, 65, 164);
  animation-delay: .5s;
}

.app-status{
  grid-column: 1/5;
  grid-row: 1;
  /* display: grid; */
  grid-template-columns: 2fr 2fr 18fr 2fr;
   display: none; 
}
.app-back{
  grid-column: 2;
  margin-top: 7px;
  cursor: pointer;
}
.app-title{
  grid-column: 3;
  color: white;
  margin-top: 7px;
  font-size: 20px;
}

.app-body{
  background: #ccc;
  grid-column: 1/5;
  grid-row: 2/6;
  display: none; 
}
.app-body iframe{
  width: 100%;
  height: calc(100% - 4px);
}

.loading-screen{
  grid-column: 1/5;
  grid-row: 1/6;
  color: white;
  text-align: center;
  font-size: 50px;
  display: none;
  grid-template-rows: 1fr auto auto 1fr;
}
.loading-img{
  grid-row: 2;
  animation: fadeIn .8s;
}
.loading-text{
  grid-row: 3;
  animation: fadeIn 1s forwards;
  animation-delay: .4s; 
  opacity: 0;
}


.content{
  grid-area: content;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: 30px repeat(3, minmax(100px, 1fr)); 
  width: 400px;
  height: 400px;
  z-index: 1;
}

.content .grid-title{
  grid-column: span 3;
  color: rgba(255,255,255,.5);
  animation: slideInLeft 1.3s;
}

@keyframes openApp{
  from{
    transform: rotateY(0deg);
  }

  to{
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@keyframes fadeIn{
  0%{
    transform: translateY(100px);
    opacity: 0; 
  }

  100%{
    transform: translateY(0);
    opacity: 1; 
  }
}

@keyframes slideInLeft{
  from{
    transform: translateX(10%); 
    opacity: 0; 
  }
  to{
    transform: translateX(0); 
    opacity: 1; 
  }
}

@keyframes slideInLeftLarge{
  from{
    transform: translateX(200px);  
    opacity: 0;
  }
  to{
    transform: translateX(0);  
    opacity: 1;
  }
}

@keyframes fadeInLarge{
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}

@keyframes slideInLeftDelay{
  0%{
    transform: translateX(10%); 
    opacity: 0; 
  }
  20%{
    transform: translateX(10%); 
    opacity: 0; 
  }
  100%{
    transform: translateX(0); 
    opacity: 1; 
  }
}


.animate-tile{
  box-sizing: border-box;
  animation: openApp .6s ease-in-out forwards;  
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 10;
}